header {
  min-width: 100%;
  height: 100vh;
  position: relative;
  .home-video {
    position: relative;
    right: 0;
  }
  .home-intro {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    z-index: 50;
    pointer-events: none;
  }

  @media (max-aspect-ratio: 16/9) {
    .home-intro {
      width: auto;
      height: 100%;
    }
  }

  .home-video-mobile {
    position: relative;
    top: $navbar-height;
    width: 100vw;
  }

  .home-header {
    position: absolute;
    top: $navbar-height;
    width: 1150px;
  }

  .landing-button {
    @media (min-width: 768px) {
      max-width: 160px;
      left: 705px;
      top: 468px;
    }
    max-width: 34vw;
    left: 50vw;
    top: 100vw;
    transform: translate(-50%, -50%);
  }

  .home-bg {
    position: absolute;
    width: 100%;
  }

  .home-mobile-bg {
    position: absolute;
    width: 100vw;
  }

  .screen {
    mix-blend-mode: screen;
  }
  .multiply {
    mix-blend-mode: multiply;
  }

  h1.home-heading {
    @media (min-width: 768px) {
      top: -20px;
      left: 110px;
      font-size: 7.5rem;
    }
    left: 10vw;
    font-size: 16vw;

    position: absolute;
    white-space: nowrap;
    z-index: 2;
    color: white;
    font-family: $displayHeavy;
    background: linear-gradient(#86fff8, #d9c6f2 50%, #ff2bea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: ease-in 1s;

    & > span {
      transition: cubic-bezier(0.62, -0.63, 0.24, 1.99) 1s;
      margin-left: -50px;
    }

    svg {
      margin-right: 0.5em;
      margin-bottom: 1.5vw;
      @media (min-width: 1024px) {
        width: auto;
      }
      width: 4vw;
      path {
        margin-top: 20px;
      }
    }

    .heading-2 > span {
      margin: 0px 5px 0px -3px;
    }
  }

  // PARAGRAPH
  .home-paragraph-container {
    position: relative;
    top: -10%;
    background: $backgroundSecondary;
    width: 100vw;
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
    .home-paragraph {
      @media (min-width: $large) {        
        flex-direction: row-reverse;
        justify-content: space-around;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      right: 0;
      font-family: $textNormal;
      line-height: 2em;
      color: #808080;
      div {
        @media (min-width: $large) {        
          padding: 4em 3em 2em 2em;
        }
        padding: 5em 5em 4em 5em;
      }
    }
    h2 {
      font-family: $displayHeavy;
      font-size: 3rem;
      color: #ffffff;
    }
    img {
      @media (min-width: $large) {        
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        width: 60%;
      }
      clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
      position: relative;
      width: 100%;

    }
  }
}
