$backgroundPrimary: #252B35;
$backgroundSecondary: #0B1016;
$backgroundTertiary: #333D44;
$backgroundGradientCol: #1D1A45;

$primary: #3E56DD;
$secondary: #6652DD;
$tertiary: #D236BE;

$shadow: #00feff;