@import "abstracts/colors";
@import "abstracts/fonts";
@import "abstracts/variables";
@import "mixins";
@import "components/scrollbar";
@import "components/navbar";
@import "components/submitGames";
@import "components/home";
@import "components/gamePanel";
@import "components/gameSidebar";
@import "components/blog";
@import "components/about";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: $backgroundPrimary;
  margin: 0;
  overflow-x: hidden;
  color: white;
  font-family: $textNormal;
  body {
    position: relative;
  }
}
